.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

h1 {
    font-family: "Young Serif", serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    color: hsl(30, 100%, 29%);
    font-family: "Young Serif", serif;
    font-weight: 600;
    font-style: normal;
}

.preparation-time {
    background-color: hsl(331, 52%, 84%);
    border-radius: 10px;
    padding: 0.5px 15px;
    margin: 20px 5px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

.preparation-time p {
    color: hsl(307, 100%, 28%);
    font-size: 18px;
    margin-bottom: -5px;
}

.preparation-time ul li {
    padding-bottom: 10px;
    padding-left: 10px;
}

.ingredients h2 {
    margin-bottom: -2px;
}

.ingredients ul li {
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

.instructions h2 {
    margin-bottom: -2px;
}

.instructions ol li {
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

#main-body {
    width: 100%;
    padding: 8px 8px;
}

p {
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

img {
    height: 600px;
    width: 1250px;
    border-radius: 10px;
}

td {
    border-bottom: 1px solid black;
    width: 100%;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

td.normal-data {
    padding: 8.5px 0px 8.5px 20px;
}

td.numerical-data {
    padding: 8.5px 0px 8.5px 0px;
    color: hsl(30, 100%, 29%);
    font-weight: 800;
}

table {
    overflow-x: auto;
}
